{% extends "base.html" %}

{% block content %}
<section class="content-section">
  <div class="page-header"><h1>{{ _('Set Secret') }}</h1></div>
  <div class="form-row">
    <form id="password_create" method="post" autocomplete="off">
      <div class="input-wrap">
        <textarea rows="10" id="password" name="password" autofocus class="form-control" placeholder="{{ _('SnapPass allows you to share secrets in a secure, ephemeral way. Input a single or multi-line secret, its expiration time, and click Generate URL. Share the one-time use URL with your intended recipient.') }}" autocomplete="off" required></textarea>
      </div>

      <div class="controls-row">
        <select class="form-control select-control" name="ttl">
          <option value="Two Weeks">{{ _('Two Weeks') }}</option>
          <option value="Week" selected="selected">{{ _('Week') }}</option>
          <option value="Day">{{ _('Day') }}</option>
          <option value="Hour">{{ _('Hour') }}</option>
        </select>

        <button type="submit" class="btn btn-primary" id="submit">{{ _('Generate URL') }}</button>
      </div>
    </form>
  </div>
</section>

<!-- Hidden i18n strings for JS -->
<span id="share-title" hidden>{{ _('Share Secret Link') }}</span>
<span id="share-subtitle" hidden>{{ _('The secret has been temporarily saved. Send the following URL to your intended recipient.') }}</span>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/snappass/scripts/crypto.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/app.js"></script>
{% endblock %}
